.grid {
  display: grid;
}

.place-items-center {
  place-items: center;
}

.container {
  max-width: 1150px;
}

.min-h-screen {
  min-height: 100vh;
}
.h-screen {
  height: 100vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.p-1 {
  padding: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.absolute {
  position: absolute;
}

.bot-1 {
  bottom: 1rem;
}

.pos-center-y {
  margin: auto 0;
}

.justify-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.text-md {
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

.gap-2 {
  gap: 2rem;
}

.px-1 {
  padding: 0 1rem;
}
